{% extends "base.html" %}
{% block title %} Lessons {% endblock %}
{% load tag %}
{% block content %}
{% if unit == "A" %}
Turtle畫圖
<br>
<a href="/student/lesson/A01">Lesson01</a><BR>
<a href="/student/lesson/A02">Lesson02</a><BR>
<a href="/student/lesson/A03">Lesson03</a><BR>
<a href="/student/lesson/A04">Lesson04</a><BR>
{% elif unit == "B" %}
物理模擬
<BR>
<a href="/student/lesson/B01">Lesson01</a><BR>
<a href="/student/lesson/B02">Lesson02</a><BR>
<a href="/student/lesson/B03">Lesson03</a><BR>
<a href="/student/lesson/B04">Lesson04</a><BR>
{%endif%}  
{% endblock %}