{% extends "base.html" %}
{% block title %}Create a question{% endblock %}
{% block head_ext %}
<script language="javascript">
    window.addEventListener('load', function (e) {
        var node = document.getElementById('edit-box');
        node.onpaste = function (e) {
            if (e.clipboardData && e.clipboardData.types) {
                // Loop the data store in type and display it
                for (var i = 0; i < e.clipboardData.types.length; ++i) {
                    var key = e.clipboardData.types[i];
                    var item = e.clipboardData.items[i];
                    if (key === 'Files') {
                        var file = item.getAsFile();
                        var reader = new FileReader();
                        reader.onload = function(evt) {
                            var img = document.createElement('img');
                            img.src = evt.target.result;
                            $(node).append(img);
                        };
                        reader.readAsDataURL(file);
                        return found = true;
                    }
                }
            }
        };
        $("#edit-box").focus();
        $("form").submit(function(event) {
            var img = $("img", $("#edit-box"));
            if (img.length < 1) {
                alert("請先貼上螢幕擷圖後再按上傳");
                event.preventDefault();
            } else {
                $("#screenshot").val(img[0].src);
            }
        });
    });
</script>
{% endblock %}
{% block content %}
            <br>
            <form action="" method="post" enctype="multipart/form-data">{% csrf_token %}
            心得感想：{{form.memo}}<BR>              
            程式碼：{{ form.code }}<BR>
            執行結果：<div id="edit-box" class="target" contenteditable="true">請在此貼上螢幕擷圖...</div>
<input id="screenshot" name="screenshot" type="hidden" value="" /><BR>
            <input id="submit" type="submit" value="送出" />
            </form>
        <br>
{% endblock %}