
<A target=_blank href="https://www.amazon.com/Learn-Program-Minecraft-Transform-Python/dp/1593276702/ref=sr_1_1?ie=UTF8&qid=1475440446&sr=8-1&keywords=minecraft+python">Learn to Program with Minecraft: Transform Your World with the Power of Python</A><BR>
by Craig Richardson - Dec 10, 2015<BR><BR>
  
<A target=_blank href="https://www.amazon.com/Adventures-Minecraft-David-Whale/dp/111894691X/ref=sr_1_2?ie=UTF8&qid=1475440446&sr=8-2&keywords=minecraft+python">Adventures in Minecraft</a><BR>
by David Whale and Martin O'Hanlon - Nov 17, 2014<BR><BR>
  
中文版：<a target=_blank href="http://search.books.com.tw/redirect/move/key/minecraft/area/mid/item/0010713770/page/1/idx/8/cat/001/pdf/1">Minecraft新魔法：打破虛擬沙盒世界的界限</a><BR>
by Minecraft Wiki翻譯團隊 - May 4, 2016