{% load tag %}
<html>
<head>
        <title>eclassroom</title>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.3/jquery.min.js"></script>
	{% block head_ext %}{% endblock %}
</head>
<body>
		{% if user.is_authenticated %}
		{{ user.first_name }}
	  <a href="https://jeankao.gitbooks.io/python/content/" target="_blank">課程</a>
	  <a href="/student/classroom">班級</a>
		<a href="/account">訊息{% if request.user.id|unread > 0 %}({{request.user.id|unread}}){% endif %}</a>
			{% if user|event %}
		    <a href="/account/event/{{user.id}}">事件</a>
			{% endif %}
    {% if request.user|has_group:"teacher" %} 	
		<a href="/teacher/classroom">教師</a>
			{% endif %}	
	  {% if user.id == 1 %}
      <a href="/account/userlist">帳號</a>
		{% endif %}
	  <a href="/account/logout" class='button'>登出</a>
		{% else %}
    	歡迎光臨!
    <a href="/account/register" class='button'>註冊新帳號</a>
		<a href="/account/login" class='button'>登入</a>
		{% endif %}
	  <br>
        {% block content %}
        {% endblock %}
<!-- JAVASCRIPTS -->
<script src="http://cdn.jsdelivr.net/jquery.cookie/1.4.1/jquery.cookie.min.js "></script>
<script>
  var csrftoken = $.cookie('csrftoken');
  function csrfSafeMethod(method) {
    // these HTTP methods do not require CSRF protection
    return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
  }
  
  $.ajaxSetup({
    beforeSend: function(xhr, settings) {
      if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
        xhr.setRequestHeader("X-CSRFToken", csrftoken);
      }
    }
  });
 
  $(document).ready(function(){
    //$('main').css('padding-top', $('.row0').height()+15+'px');
    {% block domready %}
    {% endblock %}
  });
  {% block userscript %}
  
  {% endblock %}
</script>  
	
</body>
</html>